<canvas class="canvas-video"></canvas>
<section class="video-container">
	<h1>The Video</h1>
	<h3>Is a 360&#186; 4k video, autoplay and plays in canvas</h3>
	<button class="video-container__begin">Start</button>
	<video class="video-container__player" controls autoplay>
		<source src="./assets/BigBuckBunny_512kb.mp4" type="video/mp4">
		<source src="./assets/BigBuckBunny.ogv" type="video/ogg">
		<source src="./assets/bigbuckbunnytrailer-480p.webm" type="video/webm">
	</video>
</section>
