@import '~bourbon';
@import '~neat';
.video-container {
	@include linear-gradient(to top, red, orange);
	@include outer-container;
}
.full {
	@include span-columns(12);
}
h1:first-child {
	margin-top: 1rem;
}

video {
	width: 100%;
}
