<canvas class="canvas-video"></canvas>
<section class="video-container">
	<h1>The Video</h1>
	<h3>Is a 360&#186; 4k video and has autoplay</h3>
	<video class="video-player" controls autoplay>
		<source src="./assets/alien_desert_4k.mp4" type="video/mp4">
		<source src="./assets/alien_desert_4k.ogg" type="video/ogg">
	</video>
</section>
