@import '~bourbon';
@import '~neat';

canvas {
	background-color: #000;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

.video-container {
	position: absolute;
	width: 80%;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%, -50%));

	h1, h3 {
		display: table;
		background-color: rgba(0, 0, 0, 0.5);
		padding: 10px;
		color: #eee;
	}
	&__begin {
		display: none;
		background: none;
		border: 2px solid #fff;

		&:hover, &:focus {
			background-color: #fff;
			color: #000;
		}
		&:active {
			background: none;
			border: 2px solid #fff;
			color: #fff;
		}
	}
}

h1:first-child {
	margin-top: 1rem;
}

video {
	display: none;
	width: 100%;
}

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;

  @include animation(sk-stretchdelay 1.2s infinite ease-in-out);
}

.spinner .rect2 {
  @include animation-delay(-1.1s);
}

.spinner .rect3 {
  @include animation-delay(-1.0s);
}

.spinner .rect4 {
  @include animation-delay(-0.9s);
}

.spinner .rect5 {
  @include animation-delay(-0.8s);
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    @include transform(scaleY(0.4));
  }  20% { 
    @include transform(scaleY(1.0));
  }
}
