@import 'partials/_variables';
@import '~bourbon';
@import '~bitters/app/assets/stylesheets/_base';
@import '~bitters/app/assets/stylesheets/_typography';
@import '~bitters/app/assets/stylesheets/_variables';
@import 'components/video/video';

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
}

h1 {
	font-size: $base-font-size * 2;
}
